.section{
  padding-top: var(--padding-container);
  padding-bottom: var(--padding-container);
  box-sizing: border-box;
  &__mail{
    box-shadow: -3px 0px 40px 0px rgba(89, 89, 89, 0.134);
  }
}

.container{
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
  &__title--section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__section--aboutus{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
  &__about--img img{
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  &__cards--aboutus{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
  }
  &__cards--testimonios{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
  }
}


.f-elements{
  display: flex;

  &--header{
    justify-content: space-between;
    align-content: center;
  }
  &--center{
    justify-content: center;
    align-items: center;
  }
  &--responsive {
    flex-direction: column;
  }
}

.g-elements {
  display: grid;

  &--album{
    grid-template-columns: 100%;
  }
  &--center {
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  &--responsive {
    grid-template-columns: 100%;
  }
  &--album--second{
    grid-template-columns:100% ;
  }
  &--responsive--hero {
    grid-template-columns: 100%;
  }
 
}

.section__services{
  &--parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    position: relative;
  }
}

@media (min-width: 768px) {
  .f-elements--responsive {
    flex-direction: row;
  }
  .g-elements--responsive--hero {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
  }
  .section__services--parent{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .container__section--aboutus{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
  .container__cards--testimonios{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }
}