.nav {
  --translate-x-menu: 100%;
  --padding-nav: 2.5rem;
  padding-top: var(--padding-nav);
  padding-bottom: var(--padding-nav);
  transition: padding 0.25s;

  &__logo {
    color: var(--primary-text-color);
      font-size: 1.85rem;
      font-weight: 800;
      text-decoration: none;
      color: #fff;
  }
  &--scroll {
    --padding-nav: 0.5rem;
  }
  &--open {
    --translate-x-menu: 0;
  }
  &__icon {
    display: flex;
    background-color: transparent;
    border: 0;
    color: var(--primary-text-color);
    font-size: 1.75rem;
    padding: 0;
    filter: contrast(0.75);
    cursor: pointer;
    transition: filter 0.25s;
    color: #fff;
  }
  &__icon:hover {
    filter: contrast(1);
  }
  &__icon--close {
    position: absolute;
    top: calc(0.5rem + var(--padding-nav));
    right: 1rem;
    transition: top 0.25s;
  }
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &--header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .nav {
    --translate-x-menu: 0;
  }

  .nav__icon--menu,
  .nav__icon--close {
    display: none;
  }
}