.nav {
  --translate-x-menu: 100%;
  --padding-nav: 2.5rem;
  padding-top: var(--padding-nav);
  padding-bottom: var(--padding-nav);
  transition: padding 0.25s;
  background-color: rgba(255, 255, 255, 0.464);

  &--scroll {
    --padding-nav: 0.5rem;
  }

  &--open {
    --translate-x-menu: 0;
  }

  &__logo {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
    margin: 0 .5rem 0 0;
   
  }
  &__logotext{
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  &__icon {
    display: flex;
    background-color: transparent;
    border: 0;
    color: var(--primary-text-color);
    font-size: 1.75rem;
    padding: 0;
    filter: contrast(0.75);
    cursor: pointer;
    transition: filter 0.25s;
  }
  &__icon:hover {
    filter: contrast(1);
  }
  &__icon--close {
    position: absolute;
    top: calc(0.5rem + var(--padding-nav));
    right: 1rem;
    transition: top 0.25s;
  }
}

@media (min-width: 768px) {
  .nav {
    --translate-x-menu: 0;
  }

  .nav__icon--menu,
  .nav__icon--close {
    display: none;
  }
}

